<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户设置</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 column col-md-offset-4">
                    <div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title text-center">
								用户设置
							</h3>
						</div>
						<div class="panel-body">
							<form role="form" action="/confirm_user_settings" method="post" id="user_settings">
                                <div class="form-group">
                                    <h4 class="text-center center-block"><strong>{{ username }}</strong></h4>
                                </div>
                                <div class="form-group">
                                    <label >修改邮箱：</label>
                                    <label>
                                        {% csrf_token %}
                                        <input placeholder="{{ email }}" type="email" class="form-control" name="email"/>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label >修改电话：</label>
                                    <label>
                                        {% csrf_token %}
                                        <input placeholder="{{ phone }}" type="tel" class="form-control" name="phone"/>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label >修改昵称：</label>
                                    <label>
                                        {% csrf_token %}
                                        <input placeholder="{{ nickname }}" type="text" class="form-control" name="nickname"/>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label >修改贵姓：</label>
                                    <label>
                                        {% csrf_token %}
                                        <input placeholder="{{ firstname }}" type="text" class="form-control" name="firstname"/>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label >修改名字：</label>
                                    <label>
                                        {% csrf_token %}
                                        <input placeholder="{{ secondname }}" type="text" class="form-control" name="secondname"/>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label >修改性别：</label>
                                    <label>
                                        {% csrf_token %}
                                        <input placeholder="{{ sex }}" type="text" class="form-control" name="sex"/>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <div class="btn-group btn-group-md">
                                        <button type="submit" class="btn btn-info"> 提交 </button>
                                        <a type="text" href="user_info" class="btn btn-info"> 取消 </a>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
                </div>
            </div>
        </div>
    </body>
</html>